<%- include('../include/head.ejs') %>
<!-- to add -->
        <link href = '/CSS/navbar.css' type = 'text/css' rel = 'stylesheet' />
        <link href = '/css/login.css' type = 'text/css' rel = 'stylesheet' />
    </head>
    <body>
        <main>
            <div class = 'container'>
                <h1 class = 'heading'>Login</h1>
                <form action = "/" method = "POST">
                    <div id = 'div-email'>
                        <label for = "email" id = "label-email">Email:</label>
                        <input type="email" id = 'label-email' name = 'email'>
                    </div>
                    <div id = 'div-password'>
                        <label for = "password" id = "label-password">Password:</label>
                        <input type="password" id = 'label-password' name = 'password'>
                    </div>
                    <button type = 'submit' id = 'login-email-password'>LogIn</button>
                </form>
                
                New member? <a href="/register">Register here</a>
            </div>
        </main>
<%- include('../include/foot.ejs') %>