
<link href = '/CSS/navbar.css' type = 'text/css' rel = 'stylesheet' />
<!-- <link href = '/css/login.css' type = 'text/css' rel = 'stylesheet' /> -->

<nav class = 'navbar fixed-top d-flex align-items-center fixed-top d-flex align-items-center'>
    <div class = 'navbar_part1'>
        <div class = 'navbar_item'>
            <a href = '/dashboard' class = 'navbar_item__link'>Home</a>
        </div>
        <div class = 'navbar_item'>
            <a href = '/todo' class = 'navbar_item__link'>To do</a>
        </div>
        <div class = 'navbar_item'>
            <a href = '/queue' class = 'navbar_item__link'>Queue</a>
        </div>
        <div class = 'navbar_item'>
            <a href = '/roadmap' class = 'navbar_item__link'>Roadmap</a>
        </div>
        <!-- <div class = 'navbar_item'>
            <a href = '/success-failures' class = 'navbar_item__link'>Success and Failures</a>
        </div> -->
        <!-- <div class = 'navbar_item'>
            <a href = '/targets' class = 'navbar_item__link'>Targets</a>
        </div> -->
        <div class = 'navbar_item'>
            <a href = '/thoughts' class = 'navbar_item__link'>Thoughts</a>
        </div>
        <div class = 'navbar_item'>
            <a href = '/logout' class = 'navbar_item__link'>Logout</a>
        </div>
    </div>
</nav>